﻿@model Miranda_ElOjo.Models.ViewModels.CiudadanosViewModel

@{
    ViewBag.Title = "Nuevo Ciudadano";
}

<h2>@ViewBag.Title</h2>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/Home/index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Admin Ciudadanos
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/Ciudadanos/index">CRUD de Ciudadanos</a>
                            <a class="nav-link" href="~/Ciudadanos/Nuevo">Agregar Nuevo Ciudadano</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Admin de Dias
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" href="/Dias/index">CRUD de Dias</a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logueado como:</div>
                Wanda-Vision
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Editar Ciudadano</h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm("Editar", "Ciudadanos", FormMethod.Post))
                                {
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(d => d.IdCiu)
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLastName">DNI</label>
                                                @Html.TextBoxFor(d => d.DniCiu, "", new { @class = "form-control py-4" })
                                                @Html.ValidationMessageFor(d => d.DniCiu, null, new { @class = "red" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLastName">Nombre</label>
                                                @Html.TextBoxFor(d => d.NomCiu, "", new { @class = "form-control py-4" })
                                                @Html.ValidationMessageFor(d => d.NomCiu, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                                        @Html.LabelFor(d => d.EmailCiu)
                                        @Html.TextBoxFor(d => d.EmailCiu, "", new { @class = "form-control py-4" })
                                        @Html.ValidationMessageFor(d => d.EmailCiu, null, new { @class = "red" })
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword">Telefono</label>
                                        @Html.TextBoxFor(d => d.TelfCiu, "", new { @class = "form-control py-4" })
                                        @Html.ValidationMessageFor(d => d.TelfCiu, null, new { @class = "red" })
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <input value="Guardar" type="submit" class="btn btn-primary" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>



