﻿@model Miranda_ElOjo.Models.ViewModels.TareasViewModel
@{
    ViewBag.Title = "Nueva Tarea";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2>@ViewBag.Title</h2>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/Home/index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Admin Ciudadanos
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/Ciudadanos/index">CRUD de Ciudadanos</a>
                            <a class="nav-link" href="~/Ciudadanos/Nuevo">Agregar Nuevo Ciudadano</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Admin de Dias
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" href="/Dias/index">CRUD de Dias</a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logueado como:</div>
                Wanda-Vision
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Nueva Tarea</h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm("Nuevo", "Tareas", FormMethod.Post))
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.HiddenFor(d => d.IdCiu)
                                            <div>
                                                <label class="small mb-1" for="inputLastName">Nombre</label>
                                                @Html.TextBoxFor(d => d.NomCiu, "", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.NomCiu, null, new { @class = "red" })
                                            </div>
                                            <div>
                                                <label class="small mb-1" for="inputLastName">Dia</label>
                                                @Html.DropDownListFor(d => d.IdDia, items, "Seleccione un dia", new { @class = "form-control" })

                                                @Html.ValidationMessageFor(d => d.IdDia, null, new { @class = "red" })
                                            </div>
                                            <div>
                                                <label class="small mb-1" for="inputLastName">Descripcion</label>
                                                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
                                            </div>
                                            <br />
                                            <div style="text-align:right">
                                                <input value="Guardar" type="submit" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@using (Html.BeginForm("Nuevo", "Tareas", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.IdCiu)
            <div>
                @Html.LabelFor(d => d.NomCiu)
                @Html.TextBoxFor(d => d.NomCiu, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.NomCiu, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.IdDia)
                @Html.TextBoxFor(d => d.IdDia, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.IdDia, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
            </div>

            <br />
            <div style="text-align:right">
                <input value="Guardar" type="submit" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

